$icon-size: 20px;

.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #eeeded;
    width: 100%;
    font-family: 'Nunito';
    font-size: 14px;
    color: #000;
    box-sizing: border-box;
    &:disabled {
      background-color: #f0f0f0; 
      cursor: not-allowed; 
    }
  }

  &__icon {
    pointer-events: none; 
    width: $icon-size;
    height: auto;
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 5px 0 0; 
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__option {
    padding: 10px;
    cursor: pointer;
    font-family: 'Nunito';
    font-size: 14px;
    color: #000;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
