@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$primary-color: #9C5CE1;
$secondary-color: #C77E01;
$dark-color: #222222;
$light-color: #777777;

$font-stack:'Sedan SC', 'Sedan';

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  color: $secondary-color;
  margin-bottom: 40px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  font-family: 'Nunito';
  font-size: 14px;
}

fieldset,
label {
  font-size: 14px;
  margin-bottom: 5px;
  font-family: $font-stack;
  color: $primary-color;
}

textarea,
input,
select,
option {
  font-family: 'Nunito';
  padding: 20px 25px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background-color: #eeeded;
  resize: none;
}

fieldset {
  border: none;
}

button {
  font-family: $font-stack;
  padding: 20px;
  font-size: 16px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 70%;
  align-self: center;
  white-space: nowrap;

  &:hover {
    box-shadow: #666 0 0 5px;
  }
}
.textarea{
  width: 600px;
  display: flex;
  flex-direction: column; 
}

// .select {
//   width: 400px;
//   display: flex;
//   flex-direction: column; 
// }


.custom-select {
  position: relative;
  display: inline-block;
  // width: 400px;
  cursor: pointer;

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    background-color: #eeeded;
    width: 100%;
    font-family: 'Nunito';
    font-size: 14px;
    color: #898989;
    box-sizing: border-box;
  }

  &__icon {
    pointer-events: none;
    width: 10px;
    height: 10px;
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__option {
    padding: 10px;
    cursor: pointer;
    font-family: 'Nunito';
    font-size: 14px;
    color: $dark-color;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
