.login-page, .register-page {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start; 
  flex-direction: row;
  height: 100vh;  /* Mantén la altura completa de la ventana */
  overflow: hidden;

  &__image {
    flex: 0 0 auto;
    width: auto; /* El ancho se ajusta automáticamente */
    height: 100%; /* La imagen siempre ocupará el alto completo */
    object-fit: cover; /* Mantiene el ajuste para cubrir el área del contenedor */
  }

  &__content {
    flex: 1; 
    max-width: 50%;
    padding: 20px;
    text-align: left;
  }

  &__title {
    font-size: 24px;
  }

  &__about {
    font-size: 18px;
    color: #666;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  &__button {
    margin: 20px;
  }

  &__link {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #666;
    text-decoration: none;
  }
}

.main-page__link {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #666;
  text-decoration: none;
}

.register-page {
  &__image-container {
    overflow: hidden;
    flex: 0 0 auto;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  &__image {
    object-fit: none;
    transform: scaleX(-1) scale(1.8);
  }
}

@media (max-width: 1300px) {
  .login-page, .register-page {
    flex-direction: column; 
    height: auto; 

    &__image {
      width: 100%; 
      height: 50vh; 
      object-fit: cover;
    }

    &__content {
      max-width: 100%;
      position: relative;
    z-index: 2; 
    }
  }
  .register-page {
    &__image-container {
      overflow: visible;
    }
    &__image {
      height: 100vh;
    }
    &__content {
      margin-top: 90px;
    }
  }
}

.error{
  color: red;
}
