.perfil-page {
    flex: 1;
    padding: 20px;

    &__about {
        font-family: 'Times New Roman';
        color: #898989;
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 600px;
        gap: 20px;
        flex-wrap: no-wrap;
        align-items: flex-start;
        justify-content: center;

        &__input-container {
            width: 600px;
            height: auto;
            display: flex;  
            flex-direction: column; 
            align-items: flex-start; 
        }

        input {
            display: flex;
            width: 600px;
            flex-direction: column;
            align-items: flex-start;
        }
    }

}
.textarea,
.select{
    display: flex ;
    flex-direction: column ;
    width: 600px ;
}


//* Media Queries para hacer el ancho 100% en pantallas pequeñas */

/* Para pantallas medianas (tablets) */
@media (max-width: 1024px) {
    .perfil-page__form,
    .perfil-page__input-container,
    .perfil-page__input-container input,
    .textarea,
    .select {
      width: 100%; /* Ajuste a 100% */
    }
}

  /* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .perfil-page__form,
    .perfil-page__input-container,
    .perfil-page__input-container input,
    .textarea,
    .select {
      width: 100%; /* Ajuste a 100% */
    }
}